@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ffffff;
  --secondary-color: #f1f5f9;
  --text-color: #64748b;
  --text-secondary-color:#000;
  --bg-hover: #cbd5e1;
}
html.dark {
  --primary-color: #000000;
  --secondary-color: #374151;
  --text-color: #d1d5db;
  --text-secondary-color:#fff;
  --bg-hover: #6b7280;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
